<% include partials/header.ejs %>
<h1>Welcome to ADA-A Competitive Programming Platform</h1>


<a href="/campgrounds">Login!</a>

<a href="/problems">Problems</a>

<a href="/contests">Contest</a>


</body>
</html>